
{% extends 'userapp/user_master.html' %}
{% load static %}
{% block user_content %}
<style>
  h1{
      font-family: 'Times New Roman', Times, serif;
      background: #121FCF;
      background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
      background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
      background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      padding-top: 15px;
      font-weight: bolder;
}
</style>

<div>
  <h1>ART JOURNEY</h1>
</div>


{% endblock %}