{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art_journey</title>
    <link rel="icon" type="image/x-icon" href="{% static 'image/alogo.jpg' %}" height="100px">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
</head>

<style>
    h1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 280px;
    padding-top: 40px   ; 
}
.table{
    margin-top: 30px;
    background-color: rgba(255, 253, 253, 0.4);
    width: 700px;
    margin-left: 280px;
}

.btn{
    margin-left: 200px;
    border: 1px solid black;
    width: 100px;
    margin-top: 15px;
}
.subhead{
    font-weight: bold;
}
p{
    font-weight: lighter;
    width: 350px;
}
</style>
<body>

<h1>Login & Security</h1>
<table class="table shadow">
      <tr>
        <td class=" subhead">Name: <p>Anu</p></td>
        <td><a class="btn btn-light" href="">Edit</a></td>
      </tr>

      <tr>
        <td class="subhead">E-mail: <p>anu@gmail.com</p></td>
        <td><a class="btn btn-light" href="">Edit</a></td>
      </tr>

      <tr>
        <td class=" subhead">Password: <p>.......</p></td>
        <td ><a class="btn btn-light" href="">Edit</a></td>
      </tr>

      <tr>
        <td class=" subhead">Two step verification: <p>message you two step verification authentication</p></td>
        <td><a class="btn btn-light" href="">Edit</a></td>
      </tr>

      <tr>
        <td class=" subhead">Secure your account: <p>if you think your account has been compromised.follow these steps to make your accound more secure.</p></td>
        <td><a class="btn btn-light" href="">Edit</a></td>
      </tr>

      <tr>
          <td><button type="submit" style="background-color: rgb(160, 83, 12); width: 80px; font-weight: bold;">Done</button></td>
      </tr>
  </table>
  </body>
  </html>
