{% extends 'adminapp/admin_master.html' %}
{% load static %}
{% block admin_content %}
<link rel="stylesheet" href="{% static 'css/message.css' %}">
<style>
    h1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;   
    padding-top: 40px   ; 
}
.table{
    margin-top: 60px;
    background-color: rgba(255, 253, 253, 0.4);
    width: 800px;
    margin-left: 49px;
}
</style>

<h1>MESSAGES</h1>
<table class="table shadow">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Massage</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for d in contact %}
      <tr>
        <th scope="row"></th>
        <td>{{forloop.contact_id}}</td>
        <td>{{d.name|capfirst}}</td>
        <td>{{d.email}}</td>
        <td><a class="btn btn-dark" href="{% url 'reply' %}">view</a></td>
      </tr>

      {% endfor %}
     
    </tbody>
  </table>

  <nav aria-label="Page navigation example" style="padding-left: 680px;">
    <ul class="pagination">
      <li class="page-item">
        <a style="color: black;"class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a style="color: black;" class="page-link" href="#">1</a></li>
      <li class="page-item"><a style="color: black;" class="page-link" href="#">2</a></li>
      <li class="page-item"><a style="color: black;" class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a style="color: black;" class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>

{% endblock %}